﻿@model Portal_Empreendedor.Models.empreendedor
@{
    ViewBag.Title = "Perfil Empreendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <img src="../img/empreendedor.jpg" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div>
                    <blockquote>
                        <h1><span id="nomeEmpreendedor">@Html.ValueFor(x => x.nome)</span></h1>

                        <hr />

                        <p style="font-family: 'Bell MT'">@Html.ValueFor(x => x.descricao)</p>
                    </blockquote>
                </div>
            </div>

            <a class="btn btn-default" data-toggle="modal" data-target="#modalNovaIdeia">Nova Ideia</a>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
                <h1 class="page-header text-center" style="font-family: Aharoni; color: cadetblue">Ideias de @Html.ValueFor(x => x.nome)</h1>

                <!-- foreach para apresentar as ideias, somente deste empreendedor -->
                <h3 style="color: darkseagreen;" class="text-center">Título da Ideia</h3>
                <p class="text-center"><span class="glyphicon glyphicon-time"></span> Postado em 27 de Agosto de 2015</p>

                <blockquote>
                    <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                </blockquote>

                <hr>

                <h3 style="color: darkseagreen;" class="text-center">Título da Ideia</h3>
                <p class="text-center"><span class="glyphicon glyphicon-time"></span> Postado em 27 de Agosto de 2015</p>

                <blockquote>
                    <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                </blockquote>

                <hr>
            </div>
        </div>

        <div class="modal fade" id="modalNovaIdeia">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" style="font-family: 'Batang';">Criar Nova Ideia</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="post">
                            <textarea name="ideia" class="form-control" id="ideia" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Salvar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<script type="text/javascript">
    document.getElementById("ideias").style.display = 'none';
    document.getElementById('inicio').style.display = 'none';
    document.getElementById("servico").style.display = 'none';
    document.getElementById("contato").style.display = 'none';
</script>

