﻿@model Portal_Empreendedor.Models.investidor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /> <br /> <br /> 
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <img src="../img/anjo.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-8">
                <div>
                    <blockquote>
                        <h1><span>@Html.ValueFor(x => x.nome)</span></h1>

                        <hr />

                        <p style="font-family: 'Bell MT'">@Html.ValueFor(x => x.descricao)</p>
                    </blockquote>
                </div>
            </div>
        </div>        
    </div>
</div>

<script type="text/javascript">
    document.getElementById('inicio').style.display = 'none';
    document.getElementById("servico").style.display = 'none';
    document.getElementById("contato").style.display = 'none';
</script>
