﻿@{
    ViewBag.Title = "Página Inicial";
}
<!-- Header -->
<a name="about" id="about" class="scroll"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="text-center" style="font-family: Aharoni, 'Aparajita'; ">Portal do Empreendedor</h1>
                    <h3 class="text-center" style="font-family: 'Batang', 'Aparajita'; ">Faça parte do nosso portal!</h3>
                    <hr class="intro-divider">
                    <!--
                        
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
<!-- Page Content -->

<a name="services" id="services" class="scroll"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" style="color: cadetblue">Seja um Investidor ou Empreendedor</h2>
                <p class="lead">
                    Pessoas com vontade de ajudar ou simplesmente ter retorno financeiro: se você tem uma <strong>ideia</strong> empreendedora, mas não tem os recursos
                    iniciais para iniciar um negócio, cadastre-se em nosso portal e encontre investidores que queiram ajudar a colocá-la em prática.
                    Mas se você é um investidor e <strong>procura boas ideias</strong> que mereçam seu auxílio para “sair do papel”, cadastre-se com seu CNPJ
                    e tenha acesso àquelas que
                    mais tenham a ver com seu perfil de investidor.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img src="../img/Ideia.png" class="img-responsive" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" style="color: cadetblue">Portal do Empreendedor</h2>
                <p class="lead">
                    O portal do empreendedor é uma organização
                    sem fins lucrativos que visa proporcionar
                    um ambiente que auxilie no intermédio entre
                    empreendedores e investidores. Com nosso ambiente
                    virtual facilitamos a divulgação de boas ideias e
                    proporcionamos um contato mais rápido entre Empreendedores e Investidores!                    
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img src="../img/anjo.jpg" class="img-responsive" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a" id="contact">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Projeto Aplicado - Centro Universitário Una</h2>
                <p class="lead">Contato: contato@portaldoempreendedor.com.br</p>
            </div>            
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-center" style="font-family: 'Aharoni'; ">Encontre novas ideias!</h2>
            </div>

        </div>

    </div>
    <!-- /.container -->
</div>

<script type="text/javascript">
    document.getElementById("sair").style.display = 'none';
    document.getElementById("ideias").style.display = 'none';
</script>