﻿
@{
    ViewBag.Title = "Tipo Cadastro";
}

<div class="modal fade" id="modalTipoCadastro">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" style="font-family: 'Batang';">Quem é você?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    @Html.ActionLink("Empreendedor", "Create", "Empreendedor", null, new { @class = "btn btn-warning form-control" })
                    <p class="text-center">ou</p>
                    @Html.ActionLink("Investidor", "Create", "Investidor", null, new { @class = "btn btn-primary form-control" })
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

