﻿@model Portal_Empreendedor.Models.acesso
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Acesse o seu Portal</h1>
            <div class="account-wall">
                <img class="profile-img" src="~/img/form-login.png"/>
                     
                <form class="form-signin" action="@Url.Action("Login", "Acesso")" method="post">
                    @Html.ValidationSummary()
                    <input id="email"  type="text" class="form-control" placeholder="Email" required autofocus name="email">
                    @Html.ValidationMessageFor(x => x.email, null, new {@class="text-danger" })
                    <input id="senha" type="password" class="form-control" placeholder="Password" required autofocus name="senha">
                    @Html.ValidationMessageFor(x => x.senha, null, new { @class = "text-danger" })
                    <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">
                        Login
                    </button>                    
                    <a href="#" class="pull-right need-help">Precisa de ajuda? </a><span class="clearfix"></span>
                </form>
            </div>
            <br />
           @Ajax.ActionLink("Crie uma nova conta!", "modalTipoCadastro", "Home", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "modalMain", OnSuccess = "$('#modalTipoCadastro').modal('show');" })
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("ideias").style.display = 'none';
    document.getElementById("sair").style.display = 'none';
    document.getElementById("servico").style.display = 'none';
    document.getElementById("contato").style.display = 'none';
</script>