﻿@{
    ViewBag.Title = "Ideias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br /><br />
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center" style="font-family: Aharoni; color: cadetblue">Mural de Ideias</h1>

            <div>
                <form action="/" method="post">
                    <label class="control-label">Filtrar Ideia por nome:</label>
                    <input type="text" name="nome" value="" class="form-control" placeholder="exe.: tecnologia móvel" />
                    <button type="submit" class="btn btn-group-sm btn-primary btn-block">Buscar</button>
                </form>
            </div>

            <!-- foreach para apresentar as ideias -->
            <h3 style="color: darkseagreen">Título da Ideia</h3>
            <p class="lead">
                por @Html.ActionLink("Autor", "Index", "PerfilEmpreendedor", null, null)
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Postado em 27 de Agosto de 2015</p>

            <blockquote>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            </blockquote>

            <hr>

            <h3 style="color: darkseagreen">Título da Ideia</h3>
            <p class="lead">
                por @Html.ActionLink("Autor", "Index", "PerfilEmpreendedor", null, null)
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Postado em 27 de Agosto de 2015</p>

            <blockquote>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            </blockquote>

            <hr>

            <h3 style="color: darkseagreen">Título da Ideia</h3>
            <p class="lead">
                por @Html.ActionLink("Autor", "Index", "PerfilEmpreendedor", null, null)
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Postado em 27 de Agosto de 2015</p>

            <blockquote>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            </blockquote>

            <hr>

            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">← Antigas</a>
                </li>
                <li class="next">
                    <a href="#">Novas →</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("servico").style.display = 'none';
    document.getElementById("contato").style.display = 'none';
</script>