﻿@model Portal_Empreendedor.Models.empreendedor

@{
    ViewBag.Title = "Empreendedor";
    Layout = "~/Views/Shared/_Layout_Login_Cadastros.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <br /> <br /> <br /> 
        <fieldset>
            <legend>Cadastro de Empreendedor</legend>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome, new { @class = "form-control", @placeholder="Digite o nome completo"})
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.nome)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.cpf_cnpj, new { @class = "form-control", @placeholder = "Digite o CPF ou CNPJ", @onkeypress = "mascaraMutuario(this, cpfCnpj);", @onblur = "clearTimeout();", @maxlength="19"})
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.cpf_cnpj)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.telefone, new { @class = "form-control phone_with_ddd", @placeholder = "Digite o Telefone" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.telefone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.celular, new { @class = "form-control phone_with_ddd", @placeholder = "Digite o celular" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.celular)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.descricao, 5, 10, new { @class = "form-control", @placeholder = "Fale um pouco de você!", @maxlength = "100" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.descricao)
                        </div>
                    </div>

                    <div class="form-group">                        
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Digite o seu e-mail" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Digite a sua senha de acesso" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.password)
                        </div>
                    </div>

                    <div>
                        <input type="checkbox" class="checkbox checkbox-inline" id="termos_uso" checked />
                        <label for="termos_uso"><a class="checkbox-inline" data-toggle="modal" data-target="#modalTermoUso">Aceitar os Termos de Uso</a></label>
                    </div>
                    <br />
                    <input type="submit" value="Salvar" id="salvar" class="btn btn-success" />
                    <a href="~/Home/Index"><input type="button" class="btn btn-danger" value="Cancelar" /></a>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="modal fade" id="modalTermoUso">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" style="font-family: 'Batang';">Termos de Uso</h4>
                </div>
                <div class="modal-body">
                    <p>1. Lorem ipsum...</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script type="text/javascript">


    document.getElementById("ideias").style.display = 'none';
    document.getElementById("sair").style.display = 'none';
    document.getElementById("servico").style.display = 'none';
    document.getElementById("contato").style.display = 'none';



     var checker = document.getElementById('termos_uso');
    var sendbtn = document.getElementById('salvar');

    checker.onchange = function () {
        if (this.checked) {
            sendbtn.disabled = false;
        } else {
            sendbtn.disabled = true;
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
